
# Homework

In [1]:


p = int(input("principal Amt"))
t = int(input("time"))
r = float(input("rate of interest "))
s = p*t*r/100
print("simple interest",s)

principal Amt65
time45
rate of interest 2
simple interest 58.5

In [2]:
print('This sentence is output to the screen')
a=5
print("a=",a)
print('x=',1,2,3,4)
x = 5
y = 10
print('value of x is {} and y is {}'.format(x,y))
print('I love {0} and {1}'.format('ducati','M V Augusta'))
print('I love {1} and {0}'.format('ducati','M V Augusta'))

This sentence is output to the screen
a= 5
x= 1 2 3 4
value of x is 5 and y is 10
I love ducati and M V Augusta
I love M V Augusta and ducati

In [6]:
print('Hello {name}, {greeting}'.format(greeting = 'hows the weather today ?',name = 'alexa'))

Hello alexa, hows the weather today ?

In [8]:
x = 12.3456789
print('value of x  %3.2f' %x)
print('value of x  %3.4f' %x)

value of x  12.35
value of x  12.3457

In [9]:
for x in range(1, 11):
     print('{0:2d} {1:3d} {2:4d}'.format(x, x*x, x*x*x))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000

In [16]:
dd = {'Raju': 9480123526, 'Ravi': 9480123527, 'Rahul': 9480123528}
for name, phone in dd.items():
     print('{0:10} ==> {1:10d}'.format(name, phone))
dd.items()

Raju       ==> 9480123526
Ravi       ==> 9480123527
Rahul      ==> 9480123528

dict_items([('Raju', 9480123526), ('Ravi', 9480123527), ('Rahul', 9480123528)])

In [21]:
import math
print('value of PI is approximately %1.10f' %math.pi)

value of PI is approximately 3.1415926536

In [23]:
x = input('Enter a string: ')
print("The entered string is :{0}".format(x))
y = int(input('Enter a integer: '))
print("The entered integer is :",y)
z = float(input('Enter a floating point number:'))
print("The entered real number  is :",z)

Enter a string: plot
The entered string is :plot
Enter a integer: 56
The entered integer is : 56
Enter a floating point number:4.5
The entered real number  is : 4.5

In [1]:
x = ('1' + '2' +'3' + '4')

y = '1' + '2' + '11' + '12'
weekdays = ['Monday', 'Tuesday', 'Wednesday','Thursday', 'Friday']
weekday = {'one':'Monday'}
print ('x has value of', x)
print ('y has value of', y)
print(weekdays)
print(weekday)

x has value of 1234
y has value of 121112
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
{'one': 'Monday'}

In [2]:
import os
x = 'Hello'
print(x)

Hello

In [4]:
var = -1
if var < 0:
    print(var)
    print("value is negative")

if ( var == -1 ) : 
    print(" value is negative")

-1
value is negative
 value is negative

In [5]:
var = 1
if var < 0:
    print("value is negative")
    print(var)
else:
    print("value is positive")
    print(var)

value is positive
1

In [7]:
score = 85
if score >= 99:
    print('A')
elif score >=75:
    print('B')
elif score >= 60:
    print('C')
elif score >= 35:
    print('D')
else:
    print('F')

B

In [8]:
c = 0
while (c <3):
    print(' c = ', c)
    c = c + 1

 c =  0
 c =  1
 c =  2

In [12]:
l1 = ['ethicalhacking', 'Programming', 2019, 2020, 2021]
l2 = ['a', 'b', 'c', 2, 3, 4, 5, 6, 7 ]

print("l1[0]: ", l1[0])
print("l2[1:5]: ", l2[1:5])

l1[0]:  ethicalhacking
l2[1:5]:  ['b', 'c', 2, 3]

In [13]:
print("l1 values ", l1)
l1.append(2022)
print("updated l1 values  ", l1)

l1 values  ['ethicalhacking', 'Programming', 2019, 2020, 2021]
updated l1 values   ['ethicalhacking', 'Programming', 2019, 2020, 2021, 2022]

In [15]:
print("Values of l1 ", l1)

print("Index 2 value ", l1[2])
l1[2] = 2015;
print("Index 2's new value  ", l1[2])
print(l1)

Values of l1  ['ethicalhacking', 'Programming', 2015, 2020, 2021, 2022]
Index 2 value  2015
Index 2's new value   2015
['ethicalhacking', 'Programming', 2015, 2020, 2021, 2022]

In [36]:
print("l1 values: ", l1)

del l1[2]
print("After deleting value at index 2 " ,l1[2])

print(l1)

l1 values:  ['ethicalhacking', 'Programming', 2015, 2019, 2020, 2021, 2022]
After deleting value at index 2  2019
['ethicalhacking', 'Programming', 2019, 2020, 2021, 2022]

In [38]:
import string
import operator

print("Length: ", len(l1))

print("Concatenation: ", [1,2,3] + [4, 5, 6])

print("Repetition :", ['Hello'] * 4)

print("Membership :", 3 in [1,2,3])

print("Iteration :")
for x in [1,2,3]: print(x)


print("slicing :", l1[-2])

print("slicing range: ", l1[1:])

print("Max of list: ", max([1,2,3,4,5]))

print("Min of list: ", min([1,2,3,4,5]))

print("Count number of 1 in list: ", [1,1,2,3,4,5,].count(1))

l1.extend(l2)

print("Extended :", l1)

print("Index for Programming:",l1.index('Programming'))
print (l1)
print("pop last item in list: ", l1.pop())
print("pop the item with index 2: ", l1.pop(2))
l1.remove('b')
print("removed b from list: ", l1)
l1.reverse()
print("Reverse: ", l1)
l1 = ['a','c','b']
l1.sort()
print("Sort ascending: ", l1)
l1.sort(reverse = True)
print("Sort descending: ", l1)

Length:  6
Concatenation:  [1, 2, 3, 4, 5, 6]
Repetition : ['Hello', 'Hello', 'Hello', 'Hello']
Membership : True
Iteration :
1
2
3
slicing : 2021
slicing range:  ['Programming', 2019, 2020, 2021, 2022]
Max of list:  5
Min of list:  1
Count number of 1 in list:  2
Extended : ['ethicalhacking', 'Programming', 2019, 2020, 2021, 2022, 'a', 'b', 'c', 2, 3, 4, 5, 6, 7]
Index for Programming: 1
['ethicalhacking', 'Programming', 2019, 2020, 2021, 2022, 'a', 'b', 'c', 2, 3, 4, 5, 6, 7]
pop last item in list:  7
pop the item with index 2:  2019
removed b from list:  ['ethicalhacking', 'Programming', 2020, 2021, 2022, 'a', 'c', 2, 3, 4, 5, 6]
Reverse:  [6, 5, 4, 3, 2, 'c', 'a', 2022, 2021, 2020, 'Programming', 'ethicalhacking']
Sort ascending:  ['a', 'b', 'c']
Sort descending:  ['c', 'b', 'a']

In [42]:
Tuple = ()
print("Empty Tuple: ", Tuple)
Tuple = (1)
print("Tuple with single item: ", Tuple)
Tuple = ('a','b','c','d',1,2,3)
print("Sample Tuple :", Tuple)

Empty Tuple:  ()
Tuple with single item:  1
Sample Tuple : ('a', 'b', 'c', 'd', 1, 2, 3)

In [52]:
Tuple = ('a', 'b', 'c', 'd', 1, 2, 3)
print("3rd item ", Tuple[2])
print("First 3 items of Tuple", Tuple[0:3])

3rd item  c
First 3 items of Tuple ('a', 'b', 'c')

In [53]:
try:
    print("Sample Tuple: ", Tuple)
    del Tuple
except:
    print(Tuple)

Sample Tuple:  ('a', 'b', 'c', 'd', 1, 2, 3)

In [54]:
Tuple = ('a','b','c','d',1,2,3)
print("Length of Tuple: ", len(Tuple))

Tupleconcat = Tuple + (7,8,9)
print("Concatinated Tuple: ", Tupleconcat)

print("Repetition: ", (1,'a',2, 'b') * 3)

print("Membership check: ", 3 in (1,2,3))

for x in (1, 2, 3): print(x)
    
print("Negative sign will retrieve item from right: ", Tupleconcat[-2])

print("Sliced Tuple [2:] ", Tupleconcat[2:])

print("Max value(1,2,3,4,5,6,7,8,9,10): ",max((1,2,3,4,5,6,7,8,9,10)))
print("Min value (1,2,3,4,5,6,7,8,9,10): ",min((1,2,3,4,5,6,7,8,9,10)))
print("List [1,2,3,4] converted to tuple: ", type(tuple([1,2,3,4])))

Length of Tuple:  7
Concatinated Tuple:  ('a', 'b', 'c', 'd', 1, 2, 3, 7, 8, 9)
Repetition:  (1, 'a', 2, 'b', 1, 'a', 2, 'b', 1, 'a', 2, 'b')
Membership check:  True
1
2
3
Negative sign will retrieve item from right:  8
Sliced Tuple [2:]  ('c', 'd', 1, 2, 3, 7, 8, 9)
Max value(1,2,3,4,5,6,7,8,9,10):  10
Min value (1,2,3,4,5,6,7,8,9,10):  1
List [1,2,3,4] converted to tuple:  <class 'tuple'>

In [56]:
dict = {'Name': 'athul', 'Age': 16, 'Class': 'First'}
print("dictionary: ", dict)

dictionary:  {'Name': 'athul', 'Age': 16, 'Class': 'First'}

In [57]:
print("Value of key Name, from dictionary:", dict['Name'])

Value of key Name, from dictionary: athul

In [58]:
dict0 = {'Name': 'athul', 'Age': 16, 'Class': 'First'}
print("dictionary: ", dict0)
k=1
for i in dict0:
    print(k,i,dict0[i])
    k=k+1
del (dict0['Name']) # Delete specific item

print("Sample dictionary post deletion of item Name:", dict0)

dict0 = {'Name': 'Jivin', 'Age': 6, 'Class': 'First'}
dict0.clear() # Clear all the contents of dictionary
print("dict post dict.clear():", dict0)

dict = {'Name': 'athul', 'Age': 16, 'Class': 'First'}
del (dict0) # Delete the dictionary

dictionary:  {'Name': 'athul', 'Age': 16, 'Class': 'First'}
1 Name athul
2 Age 16
3 Class First
Sample dictionary post deletion of item Name: {'Age': 16, 'Class': 'First'}
dict post dict.clear(): {}

In [59]:
dict = {'Name': 'athul', 'Age': 16, 'Class': 'First'}
print("dictionary: ", dict)
dict['Age'] = 10
print("updated value", dict)

dictionary:  {'Name': 'athul', 'Age': 16, 'Class': 'First'}
updated value {'Name': 'athul', 'Age': 10, 'Class': 'First'}

In [60]:
dict = {'Name': 'Jivin', 'Age': 6, 'Class': 'First'}
print("Length of dict: ", len(dict))
dcopy = dict.copy()
print("Copy:",dcopy)
print("Value for Age: ", dict.get('Age'))
print("dict items: ", dict.items())

print("dict keys: ", dict.keys())

print("Value of dict: ", dict.values())

d1 = {'Name': 'athul', 'Age': 16}
d2 = {'Sex': 'male' }
d1.update(d2)
print("dict1.update(dict2) = ", d1)

Length of dict:  3
Copy: {'Name': 'Jivin', 'Age': 6, 'Class': 'First'}
Value for Age:  6
dict items:  dict_items([('Name', 'Jivin'), ('Age', 6), ('Class', 'First')])
dict keys:  dict_keys(['Name', 'Age', 'Class'])
Value of dict:  dict_values(['Jivin', 6, 'First'])
dict1.update(dict2) =  {'Name': 'athul', 'Age': 16, 'Sex': 'male'}

In [61]:
def hello():
    print("Hello World")


hello()

Hello World

In [62]:
def add(x, y):
        return x + y


print(add(1,2))

3

In [64]:
x = 40

def add(y):
    return x + y
print(add(10))

50

In [65]:

def func(*args):
    for a in args:
        print(a)

func(1,2,3)

1
2
3

In [66]:
def func2(**args):
    for a in args:
        print(a, args[a])
func2(name='jack', age=18)

name jack
age 18

In [69]:
def func(x, y): 
    return x + y
print("function method :",func(83,79))

add = lambda x, y : x + y 
print("lambda method :",add(83,79))

function method : 162
lambda method : 162